@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center align-items-center vh-100 ">
    <h1 class="display-4">ADDRESS BOOK MANAGEMENT</h1>
    <img src="~/image/abook.svg" style="height: 400px;" />
</div>
